<div class="table-row-first">
    {{rental.name}}
</div>
<div class="table-row-second">
    {{rental.date}}
</div>
<div class="table-row-third">
    {{rental.num}}
</div>
<div class="table-row-forth">
    <p>{{rental.note}}</p>
</div>