<br /><br />
<div class="layui-main">
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-md-offset2 index-box">
            {{#link-to "activity" class="index-activity"}}
                <button class="layui-btn index-route-button">
                    Activity 
                </button>
            {{/link-to}}
            <div class="index-activity-p">
                This page show the activity that have shoted.
            </div>
        </div>
        <div class="layui-col-md3 layui-col-md-offset2 index-box">
            {{#link-to "devices" class="index-device"}}
                <button class="layui-btn index-route-button">
                    Device 
                </button>
            {{/link-to}}
            <div class="index-device-p">
                This page show the device we have.
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-md3 layui-col-md-offset2 index-box">
            {{#link-to "people" class="index-people"}}
                <button class="layui-btn index-route-button">
                    People 
                </button>
            {{/link-to}}
            <div class="index-people-p">
                This page show the people in our commuinty.
            </div>
        </div>
        <div class="layui-col-md3 layui-col-md-offset2 index-box">
            {{#link-to "about" class="index-about"}}
                <button class="layui-btn index-route-button">
                    About
                </button>   
            {{/link-to}}
            <div class="index-about-p">
                This page tell something about our community.
            </div>
        </div>
    </div>
</div>